.tex-code {
  background-color: var(--tex-background-secondary);
  border: 0;
  resize: vertical;
  border-radius: 6px;
  white-space: pre-wrap;
}

.tex-code .tex-block-content {
  min-height: 60px;
  padding: 4px 8px;
}