.tex-files {
  border-radius: 6px;
  padding: 12px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
  border: 1px solid var(--tex-border-color);
}

.tex-files-form {
  display: flex;
  align-items: center;
  gap: 12px;
}

.tex-files-form-uploader {
  background-color: var(--tex-background-secondary);
  border-radius: 6px;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.tex-files-form-uploader input:disabled + label,
.tex-files-form-uploader input:disabled ~ label {
  opacity: 0.5;
  cursor: not-allowed;
}

.tex-files-form-progress {
  background-color: var(--tex-background-secondary);
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 3;
}

.tex-files-counter {
  font-size: var(--tex-small-font-size);
  color: var(--tex-color-light);
  display: flex;
  gap: 8px;
  align-items: center;
  padding-left: 12px;
  position: absolute;
  right: 10px;
  top: 50%;
  margin-top: -9px;
  white-space: nowrap;
}

.tex-files-form-progress-percent {
  color: var(--tex-progress-color);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  font-weight: 600;
  font-size: var(--tex-message-font-size);
}

.tex-files-form-progress-line {
  background-color: var(--tex-progress-background);
  position: absolute;
  top: 0;
  left: 0;
  transition: all 1s;
  height: 100%;
  width: 1%;
  font-weight: 600;
  z-index: 4;
}

.tex-files-form-uploader label {
  padding: 6px;
}

.tex-files-form-uploader,
.tex-files-form-uploader label {
  cursor: pointer;
  transition: opacity 1s;
  display: grid;
  width: 100%;
  height: 100%;
}

.tex-files-form-label-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-weight: 500;
  gap: 8px;
  position: relative;
}

.tex-files-form-label {
  position: relative;
  z-index: 2;
}

.tex-files-form-label-message {
  text-align: center;
  font-size: 12px;
  color: var(--tex-color-light);
}

.tex-files-content {
  display: grid;
  grid-template-columns: 1fr;
  gap: 12px;
}

.tex-files-content:has(> .tex-file:only-child) {
  padding-top: unset;
}

.tex-file-default {
  display: grid;
  grid-template-columns: 1fr;
  gap: 12px;
  position: relative;
}

.tex-files-actions {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.tex-files-actions-buttons {
  display: flex;
  align-items: center;
  position: absolute;
  right: 12px;
  top: 12px;
  z-index: 10;
  gap: 8px;
  background-color: var(--tex-background);
  border-radius: 4px;
}

.tex-files-actions-btn {
  color: var(--tex-fill);
  width: 22px;
  height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s;
  cursor: pointer;
}

.tex-files-actions-wrap {
  background: var(--tex-background-overlay);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  height: 100%;
  width: 100%;
}

.tex-files-actions-list {
  background: var(--tex-background);
  border-radius: 6px;
  display: flex;
}

.tex-file-action {
  padding: 8px;
  cursor: pointer;
  transition: all 1s;
  color: var(--tex-color);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 4px;
  text-align: center;
}

.tex-file-action .tex-model-title {
  font-size: var(--tex-font-size-small);
}

.tex-file-action-delete {
  color: var(--tex-error);
}

.tex-file-layout-wrap {
  background: var(--tex-background-secondary);
  display: flex;
  gap: 12px;
  padding: 16px 12px;
  color: var(--tex-fill);
}

.tex-file-layout-left {
  display: flex;
  gap: 12px;
  flex-grow: 1;
}

.tex-file-fileName {
  color: var(--tex-color);
  font-weight: 600;
}

.tex-file-caption {
  font-weight: 500;
}

.tex-file-desc,
.tex-file-layout-size {
  font-size: var(--tex-font-size-small, 12px);
}

.tex-file-layout-icon-wrap {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border-radius: 6px;
  background-color: var(--tex-background-secondary);
  border: 1px solid var(--tex-border-color);
  overflow: hidden;
}

.tex-file-layout-img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

.tex-file-layout-content {
  display: grid;
  grid-template-columns: 1fr;
  gap: 4px;
}

.tex-files-edit-form-field .tex-input {
  width: 100%;
  padding: 12px;
}

.tex-file-wrapper {
  overflow: hidden;
  border-radius: 6px;
}

.tex-files-edit-popup {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.tex-files-edit-popup-overlay {
  background: var(--tex-background-overlay);
  padding: 16px;
  display: flex;
  justify-content: center;
  align-items: flex-start;

  height: 100%;
  width: 100%;
}

.tex-files-edit-popup-content {
  background: var(--tex-background);
  padding: 24px;
  border-radius: 8px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;
  max-height: 80vh;
  position: relative;
  box-shadow: 0 6px 16px var(--tex-shadow-color);
}

.tex-files-edit-form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
}

.tex-files-edit-form-header {
  font-size: 18px;
  font-weight: 700;
}

.tex-files-edit-form-body {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
}

.tex-files-edit-form-footer {
  display: flex;
  gap: 16px;
  border-top: 1px solid var(--tex-border-color);
  padding: 24px 24px 0 24px;
  margin: 0 -24px;
}

.tex-file-moveRight.not-active,
.tex-file-moveLeft.not-active {
  display: none;
}

.tex-file-desc:empty,
.tex-file-caption:empty {
  display: none;
}

@media (hover: hover) {
  .tex-files-actions-btn:hover {
    opacity: 0.4;
    transform: scale(1.1);
  }

  .tex-files-form-uploader:hover {
    opacity: 0.5;
  }

  .tex-files-action:hover {
    opacity: 0.6;
    background-color: var(--tex-background-lite);
  }
}

@media screen and (max-width: 768px) {
  .tex-files-list {
    grid-template-columns: 1fr;
  }

  .tex-files-counter {
    margin-top: 0;
    position: static;
    padding-left: 12px;
  }
}
