.tex-gallery {
  border-radius: 6px;
  padding: 12px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
  border: 1px solid var(--tex-border-color);
}

.tex-gallery-list {
  display: grid;
}

.tex-gallery[data-options-style~="grid"] .tex-gallery-list {
  grid-template-columns: repeat(auto-fit, minmax(calc(50% - 6px), 1fr));
  gap: 12px;
}

.tex-gallery[data-options-style~="single"] .tex-gallery-list {
  grid-template-columns: 1fr;
  gap: 12px;
}

.tex-gallery[data-options-style~="grid"] .tex-file:last-child:nth-child(odd) {
  grid-column: 1 / -1;
}

.tex-gallery .tex-file {
  display: grid;
  grid-template-columns: 1fr;
  gap: 12px;
  position: relative;
  cursor: pointer;
}

.tex-gallery[data-options-style~="grid"] .tex-file-wrapper,
.tex-gallery[data-options-style~="slider"] .tex-file-wrapper {
  padding-top: 60%;
}

.tex-gallery .tex-file-source {
  -webkit-user-select: none;
  user-select: none;
  overflow: hidden;
  border-radius: 6px;
  background: var(--tex-background-secondary);
}

.tex-gallery .tex-file-source img,
.tex-gallery .tex-file-source video {
  object-fit: cover;
}

.tex-gallery[data-options-style~="grid"] .tex-file-source img,
.tex-gallery[data-options-style~="slider"] .tex-file-source img,
.tex-gallery[data-options-style~="grid"] .tex-file-source video,
.tex-gallery[data-options-style~="slider"] .tex-file-source video {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.tex-gallery[data-options-style~="grid"] .tex-file-source,
.tex-gallery[data-options-style~="slider"] .tex-file-source {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.tex-gallery .tex-file-source > * {
  width: 100%;
}

.tex-gallery .tex-file-layout {
  width: 100%;
  height: 100%;
  position: relative;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.tex-gallery-item-play {
  position: absolute;
  top: 12px;
  left: 12px;
  color: var(--tex-background);
  opacity: 0.8;
}

.tex-gallery-styles {
  color: var(--tex-fill);
}

.tex-gallery-style-list {
  display: flex;
  align-items: center;
}

.tex-gallery-right {
  justify-content: flex-end;
}

.tex-gallery-left {
  justify-content: flex-start;
}

.tex-gallery-style-item {
  padding: 6px;
  transition: all 1s;
  cursor: pointer;
}

.tex-gallery-style-item.tex-active {
  color: var(--tex-color-secondary);
}

@media (hover: hover) {
  .tex-gallery-style-item:hover {
    opacity: 0.6;
    background-color: var(--tex-background-lite);
  }
}

@media screen and (max-width: 768px) {
  .tex-gallery-list {
    grid-template-columns: 1fr;
  }
}
