.tex-ui-vs-selected {
  background: var(--tex-vs-ui-selected-bg) !important;
  outline: var(--tex-vs-ui-selected-outline) !important;
}

.tex-ui-vs-rect {
  display: none;
  position: fixed;
  border: var(--tex-vs-ui-border);
  background: var(--tex-vs-ui-bg);
  pointer-events: none;
  z-index: 10000;
  border-radius: var(--tex-vs-ui-radius);
  will-change: left, top, width, height;
}