.tex-sortable {
    position: relative;
}

.tex-sortable-item {
    transition: opacity 0.2s ease;
    user-select: none;
    -webkit-user-select: none;
    position: relative;
    z-index: 1;
}

.tex-sortable-item-dragging {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    border: 2px dashed var(--tex-fill);
    cursor: grabbing;
    transition: none;
    pointer-events: none;
    will-change: transform;
    z-index: 9999;
}