.tex {
  width: 100%;
  max-width: 650px;
  margin: 0 auto;
  color: var(--tex-color);
}

.tex [contenteditable="true"] {
  user-select: text;
  -webkit-user-select: text;
}

.tex,
.tex-wrap {
  position: relative;
}

.tex-blocks {
  display: grid;
  grid-template-columns: 1fr;
  gap: 12px;
  outline: none;
  padding-bottom: 180px;
}

.tex-blocks h1,
.tex-blocks h2,
.tex-blocks h3,
.tex-blocks h4,
.tex-blocks h5,
.tex-blocks h6 {
  margin: 0;
  padding: 8px 0;
  line-height: 3rem;
}

.tex-blocks h1 {
  line-height: 36px;
}

.tex-blocks h2 {
  line-height: 28px;
}

.tex-blocks h3 {
  line-height: 24px;
}

.tex-blocks h4 {
  line-height: 20px;
}

.tex-blocks h5 {
  line-height: 18px;
}

.tex-blocks h6 {
  line-height: 16px;
}

.tex-block {
  position: relative;
  transition: all 1s;
  word-break: break-all;
}

.tex-block,
.tex-block-content {
  outline: none;
  margin: 0;
}

.tex-block-content[data-empty="true"]:before {
  content: attr(data-placeholder);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.5;
}

.tex-block-content:focus,
.tex-block-active {
  background-color: var(--tex-background-lite);
}

/* Block actions */
.tex-actions {
  position: absolute;
  top: var(--tex-actions-top);
  left: var(--tex-actions-left);
  z-index: 999;
  transition: top 0.3s;
  display: none;
}

.tex-block-active .tex-actions {
  display: block;
}

.tex-actions-btn {
  padding: 4px;
  transition: opacity 1s;
  cursor: pointer;
  display: inline-flex;
  color: var(--tex-color);
  user-select: none;
}

.tex-actions-content {
  display: none;
  margin-top: 4px;
  margin-left: 6px;
  background-color: var(--tex-background);
  box-shadow: 0 0 8px 0 var(--tex-shadow-color);
  border: 1px solid var(--tex-border-color);
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 16px;
}

.tex-actions-content-body,
.tex-actions-content-dropdown {
  display: grid;
}

.tex-actions-content-dropdown {
  display: none;
}

.tex-actions-content-dropdown.tex-active {
  display: grid;
}

.tex-actions-content-dropdown h4 {
  margin: 0;
  padding: 12px;
  border-bottom: 1px solid var(--tex-border-color);
}

.tex-action .tex-model-title {
  flex-grow: 1;
}

.tex-action,
.tex-actions-content-dropdown-item {
  user-select: none;
  cursor: pointer;
  transition: opacity 1s;
  display: flex;
  gap: 8px;
  align-items: center;
  padding: 12px;
}

.tex-actions-content-dropdown-item {
  padding: 6px 12px;
}

.tex-action-confirm {
  background: var(--tex-background-secondary);
}

.tex-action-deleteAction {
  color: var(--tex-error);
  border-top: 1px solid var(--tex-border-color);
}

.tex-action-deleteAction-confirm {
  background: var(--tex-error);
  color: #fff;
}

.tex-icon {
  display: block;
}

.tex-fill {
  fill: var(--tex-fill);
}

.tex-tools {
  background-color: var(--tex-background);
  box-shadow: 0 0 8px 0 var(--tex-shadow-color);
  display: none;
  z-index: 10;
  border-radius: 6px;
}

.tex-tools-fixed {
  display: grid;
  grid-template-columns: 1fr;
  gap: 12px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.tex-tools-list {
  display: flex;
  flex-wrap: wrap;
}

.tex-tools-content {
  display: none;
}

.tex-tool {
  padding: 12px;
  border-radius: 6px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  flex-direction: column;
}

.tex-tool.active {
  color: var(--tex-color-secondary);
}

.tex-tool svg {
  display: block;
}

.tex-tool .tex-model-title {
  font-size: var(--tex-small-font-size);
}

.tex-input {
  padding: 6px;
  outline: none;
  color: var(--tex-input-color);
  background: var(--tex-input-background);
  border: 1px solid var(--tex-input-border);
}

.tex-hidden {
  display: none;
}

.tex-message {
  font-weight: 500;
  font-size: var(--tex-message-font-size);
}

.tex-message-error {
  color: var(--tex-error);
}

.tex-message-success {
  color: var(--tex-success);
}

.tex-btn {
  transition: all 0.7s;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
}

.tex-btn-primary {
  background-color: var(--tex-button-bg);
  border: 1px solid var(--tex-button-border-color);
  color: var(--tex-button-text-color);
}

.tex-btn-secondary {
  background-color: var(--tex-button-secondary-bg);
  border: 1px solid var(--tex-button-secondary-border-color);
  color: var(--tex-button-secondary-text-color);
}

.tex-btn-radius {
  border-radius: 4px;
}

.tex-btn-padding {
  padding: 8px 12px;
}

.tex-extensions {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  padding: 16px 0;
  align-items: center;
  justify-content: space-between;
}

.tex-extensions-group {
  display: flex;
  flex-wrap: wrap;
  padding-right: 8px;
  gap: 16px;
}

.tex-extensions-group:last-child {
  padding-right: 0;
}

.tex-extension {
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--tex-color);
  cursor: pointer;
  user-select: none;
  transition: all 1s;
}

.tex-extensions-fixed {
  position: sticky;
  top: 16px;
  left: 50%;
  z-index: 1000;
  margin-top: 12px;
  background: var(--tex-extensions-fixed-bg);
  box-shadow: 0 2px 5px var(--tex-shadow-color);
  padding: 10px 12px;
  border-radius: 6px;
  z-index: 999;
}

.tex-extension-not-active {
  opacity: 0.4;
}

.tex-block-non-editable {
  cursor: pointer !important;
  user-select: none !important;
  opacity: 0.7;
}

.tex-block-non-editable * {
  pointer-events: none !important;
}

.tex-block-selected {
  outline: 2px solid var(--tex-selected-outline) !important;
  background-color: var(--tex-selected-background) !important;
  border-radius: 4px;
}

.tex-extension-active {
  color: var(--tex-color-secondary);
  opacity: 1;
}

.tex-extension-deleteSelected {
  color: var(--tex-error);
  opacity: 1;
}

.tex-selectable {
  cursor: default !important;
  user-select: none !important;
}

.tex-no-select {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.tex-sortable-item {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  border: 3px dashed var(--tex-vs-ui-selected-border-color);
}

.tex-sortable-chosen {
  position: relative;
  z-index: 1000;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.tex-item {
  position: relative;
}

.tex-item-drag-zone-default {
  display: none;
  position: absolute;
  right: 0;
  top: 8px;
  padding: 4px;
  margin-top: -9px;
  cursor: move;
}

.tex-block-active .tex-item-active .tex-item-drag-zone {
  display: block;
}

.tex-block-active .tex-item:only-child .tex-item-drag-zone {
  display: none;
}

@media (hover: hover) {

  .tex-action:hover,
  .tex-actions-content-dropdown-item:hover {
    opacity: 0.6;
    background-color: var(--tex-background-lite);
  }

  .tex-actions-btn:hover,
  .tex-extension:hover,
  .tex-btn:hover {
    opacity: 0.6;
  }

  .tex-action-deleteAction-confirm:hover {
    background: var(--tex-error);
    color: #fff;
    opacity: 0.6;
  }

  .tex-tool:hover {
    background-color: var(--tex-background-lite);
  }
}

@media screen and (max-width: 768px) {
  .tex-actions {
    top: var(--tex-actions-top-mobile);
    left: var(--tex-actions-left-mobile);
  }

  .tex-actions-btn {
    background-color: var(--tex-background);
    box-shadow: 0 0 8px 0 var(--tex-shadow-color);
    border: 1px solid var(--tex-border-color);
    border-radius: 6px;
    width: 28px;
    height: 28px;
    justify-content: center;
    align-items: center;
    margin-top: -36px;
  }

  .tex-actions-btn svg {
    margin-top: 3px;
  }

  .tex-actions-content {
    margin-left: 0;
  }

  .tex-wrap {
    padding-top: 28px;
  }
}