:root {
  --tex-vs-ui-bg: rgba(59, 130, 246, 0.15);
  --tex-vs-ui-border: 2px dashed #3b82f6;
  --tex-vs-ui-radius: 4px;
  --tex-vs-ui-selected-bg: rgba(59, 130, 246, 0.1);
  --tex-vs-ui-selected-border-color: #3b82f6;
  --tex-fill: rgba(100, 100, 100, 0.7);
  --tex-background: #fff;
  --tex-color: #222;
  --tex-input-background: #f5f5f5;
  --tex-input-border: rgba(179, 179, 179, 0.2);
  --tex-input-color: #333;
  --tex-color-secondary: #42d392;
  --tex-color-light: rgba(55, 55, 55, 0.5);
  --tex-background-lite: rgba(204, 255, 204, 0.3);
  --tex-background-secondary: rgba(150, 150, 150, 0.07);
  --tex-progress-background: #34785a;
  --tex-background-overlay: rgba(150, 150, 150, 0.7);
  --tex-progress-color: #70c29e;
  --tex-shadow-color: rgb(33, 33, 33, 0.4);
  --tex-border-color: rgba(179, 179, 179, 0.2);
  --tex-error: #e6004c;
  --tex-success: #1e764e;
  --tex-message-font-size: 12px;
  --tex-small-font-size: 10px;
  --tex-button-bg: #42d392;
  --tex-button-border-color: #42d392;
  --tex-button-text-color: #fff;
  --tex-button-secondary-bg: rgba(225, 225, 225, 0.3);
  --tex-button-secondary-border-color: rgba(225, 225, 225, 0.5);
  --tex-button-secondary-text-color: #888;
  --tex-extensions-fixed-bg: rgba(255, 255, 255, 0.7);
  --tex-extensions-fixed-blur: 8px;
  --tex-selected-outline: #1e764e;
  --tex-selected-background: rgba(30, 118, 78, 0.1);
  --tex-font-size-small: 12px;
  --tex-actions-top: 0;
  --tex-actions-top-mobile: -28px;
  --tex-actions-left: -24px;
  --tex-actions-left-mobile: 0;
}
